* {
  margin: 0;
}

html {
  font-family: 'Share Tech Mono', monospace;
  color: black;
}

body {
  margin: 0 1em 10em;
}

a,
a:visited {
  color: steelblue;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}

header {
  position: sticky;
  top: 0;
  font-size: 130%;

  background-color: steelblue;
  color: white;

  padding: 10px;
  /* margin-bottom: 15px; */

  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
}

header a, header a:visited {
  color: lightsteelblue;
}

h3 {
  border-bottom: solid 1px gainsboro;
  margin: 20px 0 0px;
  padding: 15px;
  background-color: whitesmoke;
}

ul {
  padding: 20px 30px 20px;
  list-style-type: square;
  background-color: whitesmoke;
}

table {
  margin: 10px 0;
  width: 100%;
  border: solid 1px gainsboro;
}

thead {
  background-color: darkgray;
  color: white;
}

tbody tr:hover {
  background-color: whitesmoke;
}
tbody td {
  vertical-align: top;
  padding: 5px;
}

.code {
  color: darkslategray;
  font-size: 85%;
}