.slick-dots{
  bottom: 172px;
  position: relative;

  li{
    margin: 5px 10px;
    
    &.slick-active{
      button{
        background: #3D5AFE;
      }
    }
    button{
      background: #353C43;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      border: none;

      &::before{
        content:'';
      }
    }
  }
}