﻿.container {
  box-sizing: border-box;
  // height: 614px;
  /* padding: 0 18px; */
  position: relative;
  /*  width: calc(100% - 75px);
  margin-left: 75px; */
  z-index: 3;
  /* background: #000!important;*/
  /*overflow: hidden*/

  h1 {
    margin: 0;
  }
}

.bgimage {
  -webkit-transition: background-image 500ms ease-in 300ms;
  -moz-transition: background-image 500ms ease-in 300ms;
  -o-transition: background-image 500ms ease-in 300ms;
  transition: background-image 500ms ease-in 300ms;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Html5Player {
  height: 100%;
  width: 100%;
  background-color: black;
}

span.color-ball {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px;
}

.on-focus {
  box-shadow: 0 0 0 3px #fff inset;
  outline: 0;
  color: white !important;
  border-radius: 20px;
}

.focusable:hover,
:focus {
  outline: 0;
}
.btn.focusable.on-focus,
.modal-button.focusable.on-focus {
  color: #000 !important;
  border-color: transparent !important;
  background-color: #fff !important;
}
